* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.header {
  background-color: black; /* Change this to your desired background color */
  color: #fff; /* Change this to your desired text color */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px; /* Adjust font size as needed */
}

.nav-links {
  display: flex;
}
.nav-links h4 {
  color: #fff; /* Change this to your desired link color */
  text-decoration: none;
  margin-left: 20px; /* Adjust spacing between links */
}

.nav-links h4:hover {
  text-decoration: underline;
}

.nav-links .active {
  font-weight: bold; /* Style for the active link */
}

/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 150px auto;
  padding: 20px;
  gap: 20px;
}
.card-list .card-item {
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}
.card-list .card-item:hover {
  border: 2px solid #000;
}
.card-list .card-item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}
.card-list span {
  display: inline-block;
  background: #f7dff5;
  margin-top: 32px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
}
.card-list .developer {
  background-color: #f7dff5;
  color: #b22485;
}
.description {
  color: #000;
  font-size: 20px;
  margin-top: 28px;
  font-weight: 600;
}

.card-list .card-item:hover .arrow {
  background: #000;
  color: #fff;
}
@media (max-width: 1200px) {
  .card-list .card-item {
    padding: 15px;
  }
}
@media screen and (max-width: 980px) {
  .card-list {
    margin: 0 auto;
  }
}
